.checkbox__wrapper {
  position: relative;
  margin-bottom: 11px;
}

.checkbox__wrapper:last-child {
  margin-bottom: 26px;
}

.checkbox__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $grey-shade;
  padding-left: 32px;
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox__input {
  display: none;
}

.checkbox__input + .checkbox__span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $grey;
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__span {
  background-color: $primary;
  border: 1px solid $primary;
}

.checkbox__input + .checkbox__span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.checkbox__input:checked + .checkbox__span::before {
  opacity: 1;
}

@media (max-width: 767px) {
  .checkbox__label {
    font-size: 12px;
    padding-left: 22px;
  }

  .checkbox__input+.checkbox__span {
    width: 15px;
    height: 15px;
  }
}
