.choices {
  width: 84px;
}

.choices__inner {
  background-color: transparent;
  border: none;
  padding: 0;
  min-height: 20px;
}

.choices__list--dropdown {
  word-break: unset;
}

.choices__list--single {
  padding: 0 16px 0 4px;
}

.choices[data-type*=select-one]:after {
  right: 5.5px;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__list--single .choices__item {
  color: $primary;
}

.choices[data-type*=select-one]::after {
  background-image: url("images/select-arr-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 8px;
  border: none;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -4px;
  background-image: url("images/select-arr-top.svg");
}

.choices__list--dropdown .choices__item--selectable {
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.choices__list--dropdown.is-active {
  border: 2px solid rgba(246, 246, 246, 1);
}

.choices__list--dropdown .choices__item {
  text-align: left;
}
